<form action="/todos/{{todo._id}}?_method=DELETE" method="POST" style="display: inline;">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" name="isDone" {{#if todo.isDone}} checked{{/if}} disabled>
    </div>
    <input type="text" class="form-control" placeholder="{{todo.name}}"
      aria-label="Recipient's username with two button addons">
    <a href="/todos/{{todo._id}}/edit" class="btn btn-success" type="button">edit</a>
    <button type="submit" class="btn btn-danger">delete</button>
  </div>
</form>
<div class="d-flex justify-content-center">
  <a href="/" class="btn btn-primary">Back</a>
</div>