<form action="/todos/{{ todo._id }}?_method=PUT" method="POST" style="display: inline;">
<div class="input-group mb-3">
  <div class="input-group-text">
    <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input"
      name="isDone" {{#if todo.isDone}} checked{{/if}}>
  </div>
  <input type="text" class="form-control" placeholder="name" value="{{todo.name}}" name="name"
    aria-label="Recipient's username with two button addons">
  <button type="submit" class="btn btn-success">save</button>
</div>
</form>
<div class="d-flex justify-content-center">
  <a href="/" class="btn btn-primary">Back</a>
</div>
