
<a href="./todos/new">new todos</a>
<ul>
  {{#each todo}}
  <li>
    {{this.name}}
    <a href="./todos/{{this._id}}">detail</a>
    <a href="./todos/{{this._id}}/edit">edit</a>
  </li>
  {{/each}}
</ul>